<div class="page">
  <div class="intro">
    <div class="title">
        <h1 style="font-size: 2em;">Suppliers</h1>
        <p>View and manage your suppliers in real time.</p>
    </div>
    <button class="btn-add" (click)="openAddSupplierModal()">+ Add Supplier</button>
  </div>

  <div class="conatiner-fluid searchFilter">
      <input class="form-control" type="text" placeholder="Search suppliers..." aria-label="Search">
      <button class="filterBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
              <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
          </svg> Filters
      </button>
  </div>

  <div class="container-fluid suppliersTable">
    <table class="table">
      <thead>
        <tr>
          <th>Supplier</th>
          <th>Category</th>
          <th>Rating</th>
          <th>Supplies</th>
          <th>Avr. latency</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers">
          <td>{{ supplier.supplierName }}</td>
          <td style="color: #6e6e6e;">{{ supplier.supplierCategory }}</td>
          <td style="color: #6e6e6e;">{{ supplier.supplierRating }}</td>
          <td>{{ supplier.supplierSupplies }}</td>
          <td [ngStyle]="{ color: supplier.supplierAvrLatency < 1 ? 'hsl(152 60% 42%)' : 'red' }">
            {{ supplier.supplierAvrLatency }} days
          </td>
          <td style="text-align:center;">
            <span [ngStyle]="{
              'background-color': supplier.supplierStatus === 'Active' ? 'hsl(152 60% 42%)' : 'red',
              'color': 'white',
              'border-radius': '20px',
              'padding': '4px 12px',
              'display': 'inline-flex',
              'width': '70%',
              'height': '50%',
              'align-items': 'center',
              'justify-content': 'center'
            }">{{ supplier.supplierStatus }}</span>
          </td>
          <td>
            <button type="button" class="btn-view" (click)="openDetails(supplier)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                </svg>
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="details-overlay">
    <div class="details-box">
      <div class="details-box">
    
    <!-- Header row -->
    <div class="details-header">
        <h3>Supplier details</h3>
        <button type="button" class="btn-cancel" (click)="closeDetails()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </button>
        </div>

        <!-- Remaining content -->
        <div class="details-content" *ngIf="selectedSupplier">
            <p>Supplier name: {{ selectedSupplier.supplierName }}</p>
            <p>Supplier category: {{ selectedSupplier.supplierCategory }}</p>
            <section class="companyInfo">
                <h5>Contacts:</h5>
                <p>Contact person: {{ selectedSupplier.supplierContactPerson }} </p>
                <p>Contact email: {{ selectedSupplier.supplierContactEmail }} </p>
                <p>Contact phone: {{ selectedSupplier.supplierContactPhone }} </p>
                <p>Address: {{ selectedSupplier.supplierAddress }} </p>
            </section>
        </div>
      </div>
    </div>
</div>