.intro h1{
    color: #212020;
    margin-bottom: 10px;
    font-weight: bolder;
}

.intro h6{
    color: #212020;
    margin-bottom: 20px;
    font-weight: normal;
}

.cards {
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.card1, .card2, .card3, .card4 {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 75%;

    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mobile */
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.bi {
    margin: 0; 
    color: #000000;
    border: 3px solid #985BB9;
    border-radius: 9px;
    padding: 5px;
}

.chart-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.card-text {
    display: flex;
    flex-direction: column;
}   

.chart-container {
  border: #000000 1px solid;
  width: 85%;
  padding: 20px;
}

/* Y-axis */
.y-axis {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 200px;
  margin-right: 10px;
  font-size: 12px;
  color: #555;
}

.y-label {
  height: 20%;
}

/* chart */
.chart {
  display: flex;
  align-items: flex-end;
  height: 200px;
  width: 100%;
  background: repeating-linear-gradient(
    to top,
    #eee,
    #eee 1px,
    transparent 1px,
    transparent 20%
  );
}

.section {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;              
    justify-content: flex-end;    
    align-items: center;  
    position: relative;    
}

.section:hover {
    background-color: #985bb917;
    border-radius: 15px;
    cursor: pointer;
}


.section:hover .info {
    visibility: visible;
    opacity: 1;
}


.bar-wrapper {
  position: relative;
}

.bar {
    width: 40px;
    background: linear-gradient(180deg, #7e46ba, #ef5cef);
    
    border-radius: 8px 8px 3px 3px;
    display: block;

}

.label {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}

.info {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-column: 1 / -1;
  gap: 5px;

  background: #ffffff;   
  color: #333;           
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15); /* nice soft shadow */

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}

.info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}


.chart-container {
  display: flex;
  align-items: flex-end;
}

/* Y-axis */
.y-axis {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 200px;
  margin-right: 10px;
  font-size: 12px;
  color: #555;
}

.y-label {
  height: 20%;
}

/* chart */
.chart {
  display: flex;
  align-items: flex-end;
  height: 200px;
  width: 100%;
  background: repeating-linear-gradient(
    to top,
    #bbb,
    #bbb 1px,
    transparent 1px,
    transparent 20%
  );
}
