.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  max-width: 220px;
  width: 100%;
  background: linear-gradient(rgb(51, 25, 77), rgb(41, 20, 52));
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

.header-row {
    top: 0;
    border-bottom: #985BB9 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;   
}

.menu {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.footer-row {
    margin-top: auto;
    border-top: #985BB9 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
    color: white;
    flex-wrap: nowrap;
}

.footer-row .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.footer-row svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 0px; 
    justify-content: center;
    line-height: 1;
}

.userInfo p {
    font-size: 10px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo .username {
    font-weight: bold;
    font-size: 11px;
}

.nav-link-custom {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease;
    font-size: 14px;
    cursor: pointer;
    color: #bbb;
}

.nav-link-custom:hover {
    background-color: #985bb942;
    color: white;
}

.nav-link-custom.active {
    background-color: #421A52;
    color: #d147d1;
}